<p id="notice"><%= notice %></p>

<p>
  <strong>Nazwa:</strong>
  <%= @job_offer.name %>
</p>

<p>
  <strong>Firma:</strong>
  <%= @job_offer.company %>
</p>

<p>
  <strong>Miasto:</strong>
  <%= @job_offer.city %>
</p>

<p>
  <strong>Opis:</strong>
  <%= @job_offer.specification %>
</p>

<%= link_to 'Aplikuj na to stanowisko', new_job_offer_application_path(@job_offer, @job_offer.applications) %>
<br>


<%= link_to 'Wyświetl zgłoszone aplikacje', job_offer_applications_path(@job_offer, @job_offer.applications) %> |


<%= link_to 'Edit', edit_job_offer_path(@job_offer) %> |
<%= link_to 'Back', job_offers_path %>
